* {
    margin: 0;
    padding: 0;
}
body{
    font: 14px Georgia, serif;
}
#page-wrap {
    width: 240px;
    margin: 20px auto;

}
a {
    text-decoration: none;
    color: black;
}
#switcher-wrapper {
    width: 240px;
    margin: 20px auto;
    position: relative;
}
#switcher-wrapper a{
    display: block;
    width: 240px;
    height: 160px;
    position: absolute;
    top: 0;
    left: 0;
}
#one{ background:url(../images/mountain.jpg); }
#two{ background:url(../images/sea.jpg); }

#switcher-wrapper a span {
    position: absolute;
}
#one span { 
    left: 0;
    bottom: -35px;
}
#two span { 
    left: 120px;
    bottom: -35px;
}
#switcher-wrapper a:hover { z-index: 1;}